<div class="home-content">
  <app-main-header></app-main-header>
  <app-main-row-one></app-main-row-one>
  <app-main-row-two
    type="tv"
    headerText="Enjoy on your TV"
    contentText="Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more."
  ></app-main-row-two>
  <app-main-row-three
    channel="download"
    header="Download your shows to watch offline."
    content="Save your favorites easily and always have something to watch."
  ></app-main-row-three>
  <app-moivelist></app-moivelist>
</div>
