<div class="home_header">
  <div class="header_content">
    <img
      class="netflix_icon"
      src="assets/home/netflix_icon.png"
      [routerLink]="['/home']"
      alt="Netflix"
    />
    <div class="login_container">
      <ng-container class="box" *ngIf="isAuthenticated(); else signInTemplate">
        <span class="text">Hi, {{ getUsername() }}</span>
        <button mat-raised-button class="signIn_btn" (click)="signOut()">
          Sign Out
        </button>
      </ng-container>
      <ng-template #signInTemplate>
        <button mat-raised-button class="signIn_btn" [routerLink]="['/signin']">
          Sign In
        </button>
      </ng-template>
    </div>
  </div>
</div>
